# This workflow is provided via the organization template repository
#
# https://github.com/nextcloud/.github
# https://docs.github.com/en/actions/learn-github-actions/sharing-workflows-with-your-organization
#
# Use lint-eslint together with lint-eslint-when-unrelated to make eslint a required check for GitHub actions
# https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks

name: Build NPM

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/build-npm.yml'
      - 'src/**'
      - '*.ts'
      - '*.js'
      - '*.json'
      - '*.yaml'
      - 'pnpm-lock.yaml'

permissions:
  contents: read

concurrency:
  group: build-npm-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    outputs:
      src: ${{ steps.changes.outputs.src }}

    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        continue-on-error: true
        with:
          filters: |
            src:
              - '.github/workflows/build-npm.yml'
              - 'src/**'
              - '*.ts'
              - '*.js'
              - '*.json'
              - '*.yaml'
              - 'pnpm-lock.yaml'

  build:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.src != 'false'

    name: PNPM Build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        env:
          CYPRESS_INSTALL_BINARY: 0
          PUPPETEER_SKIP_DOWNLOAD: true
        run: |
          npm i -g pnpm
          pnpm i --frozen-lockfile

      - name: Build
        run: pnpm build

  summary:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [changes, build]

    if: always()

    name: build-npm-summary

    steps:
      - name: Summary status
        run: if ${{ needs.changes.outputs.src != 'false' && needs.build.result != 'success' }}; then exit 1; fi
