# SPDX-FileCopyrightText: Chen Asraf <contact@casraf.dev>
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Lint eslint

on:
  - pull_request
  - push

permissions:
  contents: read

concurrency:
  group: lint-eslint-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    name: NPM lint

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        env:
          CYPRESS_INSTALL_BINARY: 0
          PUPPETEER_SKIP_DOWNLOAD: true
        run: |
          npm i -g pnpm
          pnpm i --frozen-lockfile

      - name: Lint
        run: pnpm lint

  summary:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: lint

    if: always()

    name: eslint

    steps:
      - name: Summary status
        run: if ${{ needs.lint.result != 'success' }}; then exit 1; fi
