name: Lint eslint

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/lint-eslint.yml'
      - 'src/**'
      - '*.ts'
      - '*.js'
      - '*.json'
      - '*.yaml'
      - 'pnpm-lock.yaml'

concurrency:
  group: lint-eslint-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-eslint:
    uses: chenasraf/workflows/.github/workflows/nextcloud-lint-eslint.yml@nextcloud-latest
    secrets: inherit
