name: Lint appinfo.xml

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: lint-info-xml-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-appinfo-xml:
    uses: chenasraf/workflows/.github/workflows/nextcloud-lint-appinfo-xml.yml@nextcloud-latest
    secrets: inherit
