name: Lint eslint

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: lint-eslint-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-eslint:
    uses: chenasraf/workflows/.github/workflows/nextcloud-lint-eslint.yml@nextcloud-latest
    secrets: inherit
