name: Lint php

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: lint-php-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-php:
    uses: chenasraf/workflows/.github/workflows/nextcloud-lint-php.yml@nextcloud-latest
    secrets: inherit
