name: PHPUnit MySQL

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: phpunit-mysql-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  phpunit-mysql:
    uses: chenasraf/workflows/.github/workflows/nextcloud-phpunit-mysql.yml@nextcloud-latest
    secrets: inherit
