name: PHPUnit PostgreSQL

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: phpunit-pgsql-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  phpunit-pgsql:
    uses: chenasraf/workflows/.github/workflows/nextcloud-phpunit-pgsql.yml@nextcloud-latest
    secrets: inherit
