name: Static analysis

on:
  # pull_request:
  workflow_dispatch:
  # push:
  #   branches:
  #     - master

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: psalm-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  psalm:
    uses: chenasraf/workflows/.github/workflows/nextcloud-psalm.yml@nextcloud-latest
    secrets: inherit
