name: Vitest

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/vitest.yml'
      - 'src/**'
      - 'tests/**'
      - '*.ts'
      - '*.js'
      - '*.json'
      - '*.yaml'
      - 'pnpm-lock.yaml'

concurrency:
  group: vitest-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  vitest:
    uses: chenasraf/workflows/.github/workflows/nextcloud-vitest.yml@nextcloud-latest
    secrets: inherit
